strong {
    font-weight: bold;
}

.header {
    background: grey;
    padding: 0.5rem 5%;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.75rem;
}

.header__span--time {
    padding-right: 2.5rem;
}

.stop-list {
    padding: 1rem 5%;
    width: 90%;
}

.stop-list__ul {
    padding: 0;
}

.stop {
    list-style: none;
    margin-bottom: 1.5rem;
}

.stop--past {
    color: grey;
}

.stop__div {
    display: inline-block;
    vertical-align: top;
}

.stop__div--left {
    width: 30%;
}

.stop__div--right {
    width: 70%;
}

.stop__p {
    font-size: 2rem;
    margin: 0;
}

.stop__p--expected {
    font-size: 1rem;
    color: red;
    margin: 1rem 0;
}

.stop__span--platform {
    float: right;
}

.stop__span--late {
    color: red;
}